
# Standard Python stuff
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.python-version
__pypackages__/

# ---------- kds additions

# local bin/ staging dir  (see common/Makefile-staged)
staging/

# local secrets or other local specifics
private.d/
server.crt
km.crt

