
# Ignore files that are pulled in or built by manual ./Build rules.
# The canonical copies of these are elsewhere in the git or are local secrets.
**/files/home/km/server.pem
**/files/home/km/*.py
**/files/home/km/*.gpg
**/files/usr/local/bin/kmc

# Ignore backup files (sometimes created by ./Build updates)
*~
