
# Ignore files that are pulled in or built by manual ./Build rules.
# The canonical copies of these are elsewhere in the git or are local secrets.
**/files/usr/lib/python**

# Ignore backup files (sometimes created by ./Build updates)
*~
