
# SITE-SPECIFIC

# TODO(doc)
# (this is used by circuitpy on-hardware testing;
#  see pylib/Makefile:install-circuitpy)

DHCP_HOSTNAME = 'test'
SSID = 'wifi-network-name'
WIFI_PASSWORD = 'wifi-password'

